$cor-primaria: #701C1C;
$cor-secundaria: #F0EAD6;
$cor-accento: #C5A880;
$cor-neutro-escuro: #2E2E2E;
$cor-neutro-claro: #E0E0E0;

.painel-funcionario {
  background-color: $cor-secundaria;
  padding: 2rem;
  border-radius: 16px;

  .usuarios-lista {

    .scroll-area {
      max-height: 200px;
      overflow-y: auto;
      padding-right: 10px;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $cor-accento;
        border-radius: 3px;
      }
    }
  }

  .list-group-item.ativo {
    background-color: $cor-accento;
    border-color: $cor-accento;
    font-weight: bold;
    cursor: default;
  }

  .form-control {
    border-radius: 12px;
    border: 1px solid $cor-accento;
  }



  .detalhes-usuario {
    background-color: $cor-secundaria;
    border: 2px solid $cor-accento;
    border-radius: 12px;
  }
}

.botao-add {
  background-color: $cor-primaria;
  color: $cor-secundaria;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;

  &:hover,
  &:focus {
    background-color: $cor-secundaria; // uma versão mais escura fixa do $cor-accento
    color: $cor-neutro-escuro;
  }
}

@media (max-width: 768px) {
  .painel-funcionario {
    .d-flex.flex-wrap {
      flex-direction: column;

      .usuarios-lista,
      .detalhes-usuario {
        max-width: 100% !important;
      }
    }
  }
}