$cor-primaria: #701C1C;
$cor-secundaria: #F0EAD6;
$cor-accento: #C5A880;
$cor-neutro-escuro: #2E2E2E;
$cor-neutro-claro: #E0E0E0;

.navbar-custom {
  position: sticky;
  top: 0;
  z-index: 1040;
  background-color: $cor-primaria;
  transition: all 0.3s ease;

  &.scrolled {
    background-color: rgba(112, 28, 28, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-link {
    color: $cor-secundaria !important; // cor clara

    &:hover {
      color: $cor-accento !important; // dourado ao passar o rato
    }
  }
}

.btn-outline-light {
  border-color: $cor-secundaria !important;
  color: $cor-secundaria !important;

  &:hover {
    background-color: $cor-secundaria !important;
    color: $cor-primaria !important;
    border-color: $cor-secundaria !important;
  }
}

.offcanvas-custom {
  background-color: $cor-primaria;
  color: $cor-secundaria;

  a.nav-link {
    color: $cor-secundaria;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: $cor-primaria;
      background-color: $cor-secundaria;
      border-radius: 4px;
      text-decoration: none;
    }
  }
}

.navbar-brand img {
  filter: brightness(0) invert(1); // Inverter caso o logo seja escuro
}

.nav-link span {
  font-weight: 500;
}
